@model AngelsAutomotive.Models.VehicleViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Vehicle</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            @*<input type="hidden" asp-for="ImageUrl" />*@
            <div class="form-group">
                <label asp-for="VehYear" class="control-label"></label>
                <input asp-for="VehYear" class="form-control" />
                <span asp-validation-for="VehYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VehMake" class="control-label"></label>
                <input asp-for="VehMake" class="form-control" />
                <span asp-validation-for="VehMake" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VehModel" class="control-label"></label>
                <input asp-for="VehModel" class="form-control" />
                <span asp-validation-for="VehModel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VehiclePlateNumber" class="control-label"></label>
                <input asp-for="VehiclePlateNumber" class="form-control" placeholder="xx-xx-xx" />
                <span asp-validation-for="VehiclePlateNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VehMileage" class="control-label"></label>
                <input asp-for="VehMileage" class="form-control" />
                <span asp-validation-for="VehMileage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VinNummber" class="control-label"></label>
                <input asp-for="VinNummber" class="form-control" />
                <span asp-validation-for="VinNummber" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="ImageFile" class="control-label"></label>
            <input asp-for="ImageFile" class="form-control" type="file" />
            <span asp-validation-for="ImageFile" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Color" class="control-label"></label>
            <input asp-for="Color" class="form-control" />
            <span asp-validation-for="Color" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Fuel" class="control-label"></label>
            <input asp-for="Fuel" class="form-control" />
            <span asp-validation-for="Fuel" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Remarks" class="control-label"></label>
            <textarea asp-for="Remarks" class="form-control"></textarea>
            <span asp-validation-for="Remarks" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
                <a asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
    <div class="col-md-4">
        @*@if (!string.IsNullOrEmpty(Model.ImageUrl))
        {
            <img src="@Url.Content(Model.ImageUrl)" alt="image" style="width:200px;height:300px;max-width:100%;height:auto;" />
        }*@
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
