@model AngelsAutomotive.Models.AddServiceItemViewModel

@{ ViewData["Title"] = "AddVehicle"; }

<h2>Add Service Order</h2>

<h4>To Service Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddVehicle">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="VehicleId" class="control-label"></label>
                <select asp-for="VehicleId" asp-items="Model.Vehicles" class="form-control"></select>
                <span asp-validation-for="VehicleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Parts" class="control-label"></label>
                <select asp-for="VehicleId" asp-items="Model.Parts" class="form-control"></select>
                <span asp-validation-for="VehicleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceType" class="control-label"></label>
                <select asp-for="VehicleId" asp-items="Model.ServiceType" class="form-control"></select>
                <span asp-validation-for="VehicleId" class="text-danger"></span>
            </div>
            @*<a asp-action="Index" class="btn btn-default">Back to List</a>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-success">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}