@{
    ViewData["Title"] = "About";
}


<h2>What we do</h2>
<ul>
    <li>AC Repair and Service</li>
    <li>Oil Change</li>
    <li>Alternator</li>
    <li>Engine Diagnostics</li>
    <li>Emissions Test</li>
    <li>Smog Test</li>
    <li>Brakes</li>
    <li>Exaust Systems</li>
    <li>Cooling Systems</li>
    <li>Steering and Suspension</li>
    <li>Wheel Alignment</li>
</ul>

<a class="btn btn-warning btn-lg" asp-controller="Appointments" asp-action="Index">Book now</a>
